[[extend 'db_layout.html']]
[[from apps.vidjil.modules import vidjil_utils]]
[[from apps.vidjil.modules.sampleSet import get_sample_name]]
[[from apps.vidjil.modules.permission_enum import PermissionEnum]]

<div class="afterAjaxScript">
    updateSampleSetCustomIntermediateStates([[=config_samples]]);
</div>

<div>
	[[ if request.query['id']: ]]
		<h3>Preview or compare samples from [[=helper.get_type_display()]] [[=get_sample_name(request.query["id"])]]</h3>
	[[ else: ]]
	    <h3>Preview or compare samples</h3>
    [[pass]]

    <div class="db_block">
        Select all last analyses of config :
        [[for name in config_samples :]]
            <input type="checkbox" id="checkbox_config_[[=name]]" onchange="checkSampleCheckboxes([[=config_samples[name]]], this.checked, [[=config_samples]])">
            <label for="checkbox_config_[[=name]]"> [[=name]]  </label>
        [[pass]]
    </div>

    <div class="db_block">

        <div class="db_block_left">
            Search: 
            <input id="db_filter_input" type="text" value="[[=request.query["filter"] ]]" 
                   onchange="db.call('sample_set/custom', {'config_id' : '[[=config_id]]', 
                                                      'filter' : this.value, 
                                                      'custom_list' : db.getListInput('custom_result[]'),
                                                      'id' : '[[='' if request.query["id"] is None else request.query["id"] ]]'} )"
                   onfocus="new VidjilAutoComplete().setupTags(this);"
                   data-needs-atwho="true" data-keys="[[=group_ids]]">
        </div>

        <div class="db_block_right">
        [[if auth.has_permission(PermissionEnum.run.value, 'sample_set', request.query['id']) :]]
            Config : 
            <span>
                <select id="choose_config" name="config" onchange="db.call('sample_set/custom', {'config_id' : this.value, 
                                                                   'filter' : '[[=request.query["filter"] ]]',
                                                                  'custom_list' : db.getListInput('custom_result[]'),
                                                                  'id' : '[[='' if request.query["id"] is None else request.query["id"] ]]' })">
                    <option value="-1" [[if not config :]]selected[[pass]]> --- </option>
                    [[ for class_elt in classification.values(): ]]
                      <optgroup label="[[ =class_elt['name'] ]]"  title="[[ =class_elt['info'] ]]">
                        [[ for row in class_elt['configs']: ]]
                            <option value="[[=row.id ]]" [[if row.id==config_id:]]selected[[pass]] title="[[=row.info]]" >
                              [[=row.name]]
                            </option>
                        [[pass]]
                      </optgroup>
                    [[pass]]
                </select>
            </span>
        [[pass]]
        </div>
    </div>

</div>

<div id="db_table_container">
    <table class="db_table table_compare" id="table">
        <thead>
            <tr><td class="column_20"> <input type="checkbox" class="checkbox_all" onchange="checkSampleCheckboxes([[=[row.results_file.id for row in query]]], this.checked, [[=config_samples]])"> </td>
	            [[ if not request.query['id']: ]]
                    <td class="column_200"> [[=helper.get_type_display() if helper is not None else "name"]] </td>
                [[ pass ]]
                <td class="column_200"> file name </td>
                <td class="column_100"> sampling date </td>
                <td> info </td>
                <td class="column_200"> pcr </td>
                <td class="column_100"> size </td>
                <td class="column_100"> config </td>

                <td class="column_sep"></td>

                <td class="column_150">last processing</td>
            </tr>
        </thead>
        <tbody>

            [[for row in query :]]

                <tr id="compare_line_sample_[[=row.results_file.id]]">
                    <td> <input type="checkbox" id="checkbox_sample_[[=row.results_file.id]]" name="custom_result[]" value="[[=row.results_file.id]]" onchange="updateSampleSetCustomIntermediateStates([[=config_samples]])" [[if row.checked :]] onload="updateSampleSetCustomIntermediateStates([[=config_samples]])" checked [[pass]]> </td>
                    [[ if not request.query['id']: ]]
                        <td onclick=''> [[=row.names]] </td>
                    [[ pass ]]
                    <td onclick='reverseSampleCheckboxChecked([[=row.results_file.id]], [[=config_samples]])' [[if row.sequence_file.data_file == None :]] [[=XML("class='inactive' title='file is missing' ")]]  [[pass]] id="sequence_file_[[=row.sequence_file.id]]">
                         [[=row.sequence_file.filename]]
                    </td>
                    <td onclick='reverseSampleCheckboxChecked([[=row.results_file.id]], [[=config_samples]])'> [[=row.sequence_file.sampling_date]] </td>
                    <td onclick='reverseSampleCheckboxChecked([[=row.results_file.id]]), [[=config_samples]]'> [[=tag_decorator.sanitize(tag_decorator.decorate(row.sequence_file.info, 'tag', 'sequence_file', '/sample_set/custom?id=' + request.query['id']))]] </td>
                    <td onclick='reverseSampleCheckboxChecked([[=row.results_file.id]], [[=config_samples]])'> [[=row.sequence_file.pcr]] </td>
                    <td onclick='reverseSampleCheckboxChecked([[=row.results_file.id]], [[=config_samples]])' [[if row.sequence_file.data_file == None :]] [[=XML("class='inactive' title='file is missing' ")]] [[pass]] >
                         [[=vidjil_utils.format_size(row.sequence_file.size_file)]] </td>
		            <td onclick='reverseSampleCheckboxChecked([[=row.results_file.id]], [[=config_samples]])'> [[=row.config.name]]
                    
                    <td class="column_sep"></td>
                    
                    [[if row.results_file.run_date :]]
                       <td class="button" onclick="db.call('results_file/info', { 'results_file_id' : '[[=row.results_file.id]]' } )"> [[=row.results_file.run_date ]]</td>
                    [[else:]]<td></td>[[pass]]
                </tr>
                
            [[pass]]

        </tbody>
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>

<div class="db_block">

    <div class="db_block_right">
        <span class="button2" onclick="db.call('sample_set/multi_sample_stats', {'results_ids': db.getListInput('custom_result[]') })" >preview / quality control</span>
        <span class="button2" 
          [[if request.query["id"] != None: ]]
            onclick="myUrl.loadCustomUrl(db, {'sample_set_id':[[=request.query["id"] ]] })" 
          [[else:]]
            onclick="myUrl.loadCustomUrl(db, undefined)" 
          [[pass]]
          > see results </span>
    </div>

</div>
